@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
   height: 100%;
}

.dropdown-menu {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.visible {
  opacity: 1;
  transform: translateY(0);
}

